In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("training.csv",delimiter = ";",decimal=",")
df_val = pd.read_csv("validation.csv",delimiter = ";",decimal=",")

df

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,classLabel
0,a,17.92,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.0,5,800000.0,t,0,no.
1,b,16.92,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.0,0,2000000.0,NaN,0,no.
2,b,31.25,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.0,19,960000.0,t,0,no.
3,a,48.17,0.000133,u,g,i,o,0.335,f,f,0,f,g,0.0,120,0.0,NaN,0,no.
4,b,32.33,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.0,0,2320000.0,f,0,no.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3695,a,18.75,0.000750,u,g,q,v,2.710,t,t,5,f,g,NaN,26726,NaN,t,1,yes.
3696,a,23.50,0.000900,u,g,q,v,8.500,t,t,5,t,g,120.0,0,1200000.0,t,1,yes.
3697,b,34.17,0.000917,u,g,c,v,4.500,t,t,12,t,g,0.0,221,0.0,NaN,1,yes.
3698,b,27.83,0.000154,u,g,W,v,3.750,t,t,5,t,g,100.0,3,1000000.0,NaN,1,yes.
3699,a,36.75,0.000513,u,g,e,v,5.000,t,f,0,t,g,0.0,4000,0.0,f,1,yes.

In [3]:
df.drop(df[df["variable5"] == "gg"].index,inplace=True)
df.drop(df[df["variable6"] == "r"].index,inplace=True)
df.drop(df[df["variable7"] == "o"].index,inplace=True)

df

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,classLabel
0,a,17.92,0.000054,u,g,c,v,1.75,f,t,1,t,g,80.0,5,800000.0,t,0,no.
1,b,16.92,0.000034,y,p,k,v,0.29,f,f,0,f,s,200.0,0,2000000.0,NaN,0,no.
2,b,31.25,0.000112,u,g,ff,ff,0.00,f,t,1,f,g,96.0,19,960000.0,t,0,no.
4,b,32.33,0.000350,u,g,k,v,0.50,f,f,0,t,g,232.0,0,2320000.0,f,0,no.
5,a,34.83,0.000125,y,p,i,h,0.50,f,f,0,t,g,160.0,0,1600000.0,f,0,no.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3695,a,18.75,0.000750,u,g,q,v,2.71,t,t,5,f,g,NaN,26726,NaN,t,1,yes.
3696,a,23.50,0.000900,u,g,q,v,8.50,t,t,5,t,g,120.0,0,1200000.0,t,1,yes.
3697,b,34.17,0.000917,u,g,c,v,4.50,t,t,12,t,g,0.0,221,0.0,NaN,1,yes.
3698,b,27.83,0.000154,u,g,W,v,3.75,t,t,5,t,g,100.0,3,1000000.0,NaN,1,yes.
3699,a,36.75,0.000513,u,g,e,v,5.00,t,f,0,t,g,0.0,4000,0.0,f,1,yes.

In [4]:
df.drop_duplicates(keep="first",inplace=True)

df

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,classLabel
0,a,17.92,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.0,5,800000.0,t,0,no.
1,b,16.92,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.0,0,2000000.0,NaN,0,no.
2,b,31.25,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.0,19,960000.0,t,0,no.
4,b,32.33,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.0,0,2320000.0,f,0,no.
5,a,34.83,0.000125,y,p,i,h,0.500,f,f,0,t,g,160.0,0,1600000.0,f,0,no.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,b,80.25,0.000550,u,g,NaN,NaN,0.540,t,f,0,f,g,0.0,340,0.0,NaN,0,no.
486,b,34.83,0.000250,y,p,W,v,3.000,f,f,0,f,s,200.0,0,2000000.0,f,0,no.
487,a,55.75,0.000708,u,g,k,h,6.750,t,t,3,t,g,100.0,50,1000000.0,NaN,0,no.
488,b,22.17,0.001213,u,g,c,v,3.335,f,t,2,t,g,180.0,173,1800000.0,NaN,0,no.
489,b,62.75,0.000700,u,g,e,z,0.000,f,f,0,f,g,0.0,12,0.0,NaN,0,no.

In [5]:
df["classLabel"].value_counts()

no.     274
yes.    210
Name: classLabel, dtype: int64

In [6]:
y = df.classLabel.replace("no.",0).replace("yes.",1)
y_val = df_val.classLabel.replace("no.",0).replace("yes.",1)

In [7]:
df.drop(["classLabel","variable19"],axis=1,inplace=True)
df_val.drop(["classLabel","variable19"],axis=1,inplace=True)

In [8]:
df = pd.concat([df,df_val]).reset_index(drop=True)

In [9]:
float_cols = ["variable2","variable3","variable8","variable14"]

In [10]:
df.drop(["variable17","variable4"],axis=1,inplace=True)

In [11]:
categorical_cols = [col for col in df.columns if df[col].dtype == "object"]

categorical_cols

['variable1',
 'variable5',
 'variable6',
 'variable7',
 'variable9',
 'variable10',
 'variable12',
 'variable13',
 'variable18']

In [12]:
X = df[:484]
X_val = df[484:].reset_index(drop=True)
X_val

,variable1,variable2,variable3,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable18
0,b,32.33,0.000750,g,e,bb,1.585,t,f,0,t,s,420.0,0,NaN
1,b,23.58,0.000179,g,c,v,0.540,f,f,0,t,g,136.0,1,NaN
2,b,36.42,0.000075,p,d,v,0.585,f,f,0,f,g,240.0,3,NaN
3,b,18.42,0.001041,p,aa,v,0.125,t,f,0,f,g,120.0,375,NaN
4,b,24.50,0.001334,p,aa,v,0.040,f,f,0,t,g,120.0,475,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,b,23.08,0.001150,g,i,v,3.500,t,t,9,f,g,56.0,742,t
196,a,57.08,0.001950,g,c,v,5.500,t,t,7,f,g,0.0,3000,NaN
197,b,30.83,0.000000,g,W,v,1.250,t,t,1,f,g,202.0,0,NaN
198,b,19.67,0.000037,g,q,v,2.000,t,t,2,t,g,80.0,0,t
199,b,30.17,0.000650,g,cc,v,3.125,t,t,8,f,g,330.0,1200,t

In [13]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler, Normalizer, MaxAbsScaler

In [14]:
float_features = float_cols
float_transformer = Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="median"))])

In [15]:
categorical_features = categorical_cols
categorical_transformer = Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ('onehot', OneHotEncoder())])

In [16]:
preprocessor = ColumnTransformer(
    transformers=[
        ('float', float_transformer, float_features),
        ('cat', categorical_transformer, categorical_features)])

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from lightgbm import LGBMClassifier
from sklearn.decomposition import PCA

clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('scaler',StandardScaler()),
                     ("classifier", XGBClassifier(learning_rate = 0.02,booster = "gblinear",random_state=32))])

In [18]:
clf.fit(X,y)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('float',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median'))]),
                                                  ['variable2', 'variable3',
                                                   'variable8', 'variable14']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder())]),
                                                  ['variable1', 'variable5',
                                                   'variable6', 'variable7',
                                                   'variable9', 'variable10',
                                                   'variable12', 'variable13',
                                                   'variable18'])])),
                ('scaler', StandardScaler()),
                ('classifier',
                 XGBClassifier(booster='gblinear', learning_rate=0.02,
                               random_state=32))])

In [19]:
clf.score(X_val,y_val)

0.89

In [20]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

predicted = clf.predict(X_val)
predicted_prob = clf.predict_proba(X_val)
predicted_prob = [i[1] for i in predicted_prob]

In [21]:
results = confusion_matrix(y_val, predicted)

In [22]:
print('Confusion Matrix :\n')
print(results) 
print('\nAccuracy Score :',accuracy_score(y_val, predicted)) 
print("\nAUROC :",roc_auc_score(y_val,predicted_prob))
print('\nReport :')
print(classification_report(y_val, predicted))

Confusion Matrix :

[[96 11]
 [11 82]]

Accuracy Score : 0.89

AUROC : 0.9224198573007738

Report :
              precision    recall  f1-score   support

           0       0.90      0.90      0.90       107
           1       0.88      0.88      0.88        93

    accuracy                           0.89       200
   macro avg       0.89      0.89      0.89       200
weighted avg       0.89      0.89      0.89       200

In [23]:
import pickle

filename = 'finalized_model.pkl'
pickle.dump(clf, open(filename, 'wb'))