In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("training.csv",delimiter = ";",decimal=",")
df_val = pd.read_csv("validation.csv",delimiter = ";",decimal=",")

In [3]:
for col in df.columns:
    print(col,":",df[col].dtype)

variable1 : object
variable2 : float64
variable3 : float64
variable4 : object
variable5 : object
variable6 : object
variable7 : object
variable8 : float64
variable9 : object
variable10 : object
variable11 : int64
variable12 : object
variable13 : object
variable14 : float64
variable15 : int64
variable17 : float64
variable18 : object
variable19 : int64
classLabel : object

In [4]:
categorical_cols = [col for col in df.columns if df[col].dtype == "object"]

for col in categorical_cols:
    print(col,":",df[col].unique())

variable1 : ['a' 'b' nan]
variable4 : ['u' 'y' nan 'l']
variable5 : ['g' 'p' nan 'gg']
variable6 : ['c' 'k' 'ff' 'i' 'j' 'q' 'W' 'd' 'm' 'cc' 'aa' 'r' 'x' 'e' nan]
variable7 : ['v' 'ff' 'o' 'h' 'j' 'bb' 'n' 'z' nan 'dd']
variable9 : ['f' 't']
variable10 : ['t' 'f']
variable12 : ['t' 'f']
variable13 : ['g' 's' 'p']
variable18 : ['t' nan 'f']
classLabel : ['no.' 'yes.']

In [5]:
for col in categorical_cols:
    print(col,":",df_val[col].unique())

variable1 : ['b' 'a' nan]
variable4 : ['u' 'y' nan]
variable5 : ['g' 'p' nan]
variable6 : ['e' 'c' 'd' 'aa' 'm' 'k' 'ff' 'W' 'q' 'i' 'x' 'cc' nan 'j']
variable7 : ['bb' 'v' 'ff' 'z' 'h' nan 'dd' 'n' 'j']
variable9 : ['t' 'f']
variable10 : ['f' 't']
variable12 : ['t' 'f']
variable13 : ['s' 'g' 'p']
variable18 : [nan 'f' 't']
classLabel : ['no.' 'yes.']

In [6]:
for col in categorical_cols:
    df_unique = df[col].unique()
    df_val_unique = df_val[col].unique()
    print(col,":",[i for i in df_unique if i not in df_val_unique])

variable1 : [nan]
variable4 : [nan, 'l']
variable5 : [nan, 'gg']
variable6 : ['r', nan]
variable7 : ['o', nan]
variable9 : []
variable10 : []
variable12 : []
variable13 : []
variable18 : [nan]
classLabel : []

In [7]:
df.isna().sum()

variable1       39
variable2       39
variable3        0
variable4       64
variable5       64
variable6       66
variable7       66
variable8        0
variable9        0
variable10       0
variable11       0
variable12       0
variable13       0
variable14     100
variable15       0
variable17     100
variable18    2145
variable19       0
classLabel       0
dtype: int64

In [8]:
df_val.isna().sum()

variable1       3
variable2       3
variable3       0
variable4       2
variable5       2
variable6       3
variable7       3
variable8       0
variable9       0
variable10      0
variable11      0
variable12      0
variable13      0
variable14      3
variable15      0
variable17      3
variable18    111
variable19      0
classLabel      0
dtype: int64

In [9]:
for col in df.columns:
    res = np.round((df[col].isna().values.sum() / len(df)) * 100,2)
    print("percentage of NANs in",col,":",str(res)+"%")

percentage of NANs in variable1 : 1.05%
percentage of NANs in variable2 : 1.05%
percentage of NANs in variable3 : 0.0%
percentage of NANs in variable4 : 1.73%
percentage of NANs in variable5 : 1.73%
percentage of NANs in variable6 : 1.78%
percentage of NANs in variable7 : 1.78%
percentage of NANs in variable8 : 0.0%
percentage of NANs in variable9 : 0.0%
percentage of NANs in variable10 : 0.0%
percentage of NANs in variable11 : 0.0%
percentage of NANs in variable12 : 0.0%
percentage of NANs in variable13 : 0.0%
percentage of NANs in variable14 : 2.7%
percentage of NANs in variable15 : 0.0%
percentage of NANs in variable17 : 2.7%
percentage of NANs in variable18 : 57.97%
percentage of NANs in variable19 : 0.0%
percentage of NANs in classLabel : 0.0%

In [10]:
for col in df_val.columns:
    res = np.round((df_val[col].isna().values.sum() / len(df_val)) * 100,2)
    print("percentage of NANs in",col,":",str(res)+"%")

percentage of NANs in variable1 : 1.5%
percentage of NANs in variable2 : 1.5%
percentage of NANs in variable3 : 0.0%
percentage of NANs in variable4 : 1.0%
percentage of NANs in variable5 : 1.0%
percentage of NANs in variable6 : 1.5%
percentage of NANs in variable7 : 1.5%
percentage of NANs in variable8 : 0.0%
percentage of NANs in variable9 : 0.0%
percentage of NANs in variable10 : 0.0%
percentage of NANs in variable11 : 0.0%
percentage of NANs in variable12 : 0.0%
percentage of NANs in variable13 : 0.0%
percentage of NANs in variable14 : 1.5%
percentage of NANs in variable15 : 0.0%
percentage of NANs in variable17 : 1.5%
percentage of NANs in variable18 : 55.5%
percentage of NANs in variable19 : 0.0%
percentage of NANs in classLabel : 0.0%

In [11]:
df[df.duplicated(keep="first")]

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,classLabel
490,a,47.25,0.000075,u,g,q,h,2.750,t,t,1,f,g,333.0,892,3330000.0,NaN,1,yes.
491,a,33.67,0.000037,u,g,cc,v,0.375,f,f,0,f,g,300.0,44,3000000.0,NaN,1,yes.
492,b,45.00,0.000850,u,g,cc,h,14.000,t,t,1,t,g,88.0,2000,880000.0,t,1,yes.
493,b,33.17,0.000104,u,g,r,h,6.500,t,f,0,t,g,164.0,31285,1640000.0,NaN,1,yes.
494,a,25.00,0.000087,u,g,x,h,1.040,t,f,0,t,g,160.0,5860,1600000.0,f,1,yes.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3695,a,18.75,0.000750,u,g,q,v,2.710,t,t,5,f,g,NaN,26726,NaN,t,1,yes.
3696,a,23.50,0.000900,u,g,q,v,8.500,t,t,5,t,g,120.0,0,1200000.0,t,1,yes.
3697,b,34.17,0.000917,u,g,c,v,4.500,t,t,12,t,g,0.0,221,0.0,NaN,1,yes.
3698,b,27.83,0.000154,u,g,W,v,3.750,t,t,5,t,g,100.0,3,1000000.0,NaN,1,yes.
3699,a,36.75,0.000513,u,g,e,v,5.000,t,f,0,t,g,0.0,4000,0.0,f,1,yes.

In [12]:
df[df.duplicated(keep="first")]["classLabel"].value_counts()

yes.    3210
Name: classLabel, dtype: int64

In [13]:
df_val[df_val.duplicated()]

Empty DataFrame
Columns: [variable1, variable2, variable3, variable4, variable5, variable6, variable7, variable8, variable9, variable10, variable11, variable12, variable13, variable14, variable15, variable17, variable18, variable19, classLabel]
Index: []

In [14]:
for col in categorical_cols:
    print("\n"+col,":")
    print(df[col].value_counts())

variable1 :
b    2382
a    1279
Name: variable1, dtype: int64

variable4 :
u    3055
y     549
l      32
Name: variable4, dtype: int64

variable5 :
g     3055
p      549
gg      32
Name: variable5, dtype: int64

variable6 :
c     787
q     612
W     363
cc    343
x     340
aa    210
i     191
m     179
k     170
e     137
ff    136
d      94
j      39
r      33
Name: variable6, dtype: int64

variable7 :
v     2015
h      970
bb     339
ff     154
z       49
j       37
n       33
dd      20
o       17
Name: variable7, dtype: int64

variable9 :
t    3171
f     529
Name: variable9, dtype: int64

variable10 :
t    2239
f    1461
Name: variable10, dtype: int64

variable12 :
f    1924
t    1776
Name: variable12, dtype: int64

variable13 :
g    3430
s     189
p      81
Name: variable13, dtype: int64

variable18 :
t    1023
f     532
Name: variable18, dtype: int64

classLabel :
yes.    3424
no.      276
Name: classLabel, dtype: int64

In [15]:
for col in categorical_cols:
    print("\n"+col,":")
    print(df_val[col].value_counts())

variable1 :
b    141
a     56
Name: variable1, dtype: int64

variable4 :
u    149
y     49
Name: variable4, dtype: int64

variable5 :
g    149
p     49
Name: variable5, dtype: int64

variable6 :
c     40
aa    24
q     21
i     18
k     16
W     16
x     13
cc    13
d     11
m      9
e      8
ff     7
j      1
Name: variable6, dtype: int64

variable7 :
v     124
h      38
bb     20
ff      8
z       4
dd      1
j       1
n       1
Name: variable7, dtype: int64

variable9 :
t    115
f     85
Name: variable9, dtype: int64

variable10 :
f    104
t     96
Name: variable10, dtype: int64

variable12 :
t    100
f    100
Name: variable12, dtype: int64

variable13 :
g    180
s     18
p      2
Name: variable13, dtype: int64

variable18 :
f    48
t    41
Name: variable18, dtype: int64

classLabel :
no.     107
yes.     93
Name: classLabel, dtype: int64

In [16]:
df[categorical_cols].apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

,variable1,variable4,variable5,variable6,variable7,variable9,variable10,variable12,variable13,variable18,classLabel
variable1,1.000000,0.058950,0.058950,-0.032936,0.034940,-0.000022,0.087696,-0.159460,0.013022,0.003251,-0.016810
variable4,0.058950,1.000000,1.000000,0.055404,0.023126,-0.099681,0.105052,-0.199219,-0.081924,0.112478,-0.107320
variable5,0.058950,1.000000,1.000000,0.055404,0.023126,-0.099681,0.105052,-0.199219,-0.081924,0.112478,-0.107320
variable6,-0.032936,0.055404,0.055404,1.000000,0.052256,0.150284,-0.055985,-0.085154,-0.194319,0.009804,0.078968
variable7,0.034940,0.023126,0.023126,0.052256,1.000000,0.072113,-0.019730,0.021954,-0.123758,-0.021676,0.045616
variable9,-0.000022,-0.099681,-0.099681,0.150284,0.072113,1.000000,-0.399801,-0.063239,-0.392016,-0.108476,0.545244
variable10,0.087696,0.105052,0.105052,-0.055985,-0.019730,-0.399801,1.000000,0.010270,0.300049,0.181617,-0.218894
variable12,-0.159460,-0.199219,-0.199219,-0.085154,0.021954,-0.063239,0.010270,1.000000,0.113403,0.015376,-0.042168
variable13,0.013022,-0.081924,-0.081924,-0.194319,-0.123758,-0.392016,0.300049,0.113403,1.000000,0.089426,-0.013762
variable18,0.003251,0.112478,0.112478,0.009804,-0.021676,-0.108476,0.181617,0.015376,0.089426,1.000000,-0.106082
classLabel,-0.016810,-0.107320,-0.107320,0.078968,0.045616,0.545244,-0.218894,-0.042168,-0.013762,-0.106082,1.000000

In [17]:
df_val[categorical_cols].apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

,variable1,variable4,variable5,variable6,variable7,variable9,variable10,variable12,variable13,variable18,classLabel
variable1,1.000000,-0.057926,-0.057926,0.093975,0.188912,-0.032534,0.075149,-0.010546,0.146158,0.033682,-0.055927
variable4,-0.057926,1.000000,1.000000,0.069802,0.023882,0.068454,-0.102104,0.078306,-0.081905,0.006305,-0.131318
variable5,-0.057926,1.000000,1.000000,0.069802,0.023882,0.068454,-0.102104,0.078306,-0.081905,0.006305,-0.131318
variable6,0.093975,0.069802,0.069802,1.000000,0.212634,-0.121457,0.124447,0.005611,0.083819,0.088903,0.184392
variable7,0.188912,0.023882,0.023882,0.212634,1.000000,-0.196190,0.231472,0.073860,0.017474,0.046914,0.307907
variable9,-0.032534,0.068454,0.068454,-0.121457,-0.196190,1.000000,-0.522323,0.010114,-0.039672,-0.142513,-0.720398
variable10,0.075149,-0.102104,-0.102104,0.124447,0.231472,-0.522323,1.000000,0.080064,0.218518,0.245677,0.569050
variable12,-0.010546,0.078306,0.078306,0.005611,0.073860,0.010114,0.080064,1.000000,0.130744,-0.037573,0.090221
variable13,0.146158,-0.081905,-0.081905,0.083819,0.017474,-0.039672,0.218518,0.130744,1.000000,0.110531,0.079950
variable18,0.033682,0.006305,0.006305,0.088903,0.046914,-0.142513,0.245677,-0.037573,0.110531,1.000000,0.044571
classLabel,-0.055927,-0.131318,-0.131318,0.184392,0.307907,-0.720398,0.569050,0.090221,0.079950,0.044571,1.000000

In [20]:
from sklearn.utils.class_weight import compute_class_weight
class_weights = compute_class_weight('balanced', np.unique(df["classLabel"]), df["classLabel"])

class_weights

array([6.70289855, 0.54030374])

In [21]:
np.unique(df["classLabel"])

array(['no.', 'yes.'], dtype=object)

In [23]:
from sklearn.utils.class_weight import compute_class_weight
class_weights_val = compute_class_weight('balanced', np.unique(df_val["classLabel"]), df_val["classLabel"])

class_weights_val

array([0.93457944, 1.07526882])