In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("training.csv",delimiter = ";",decimal=",")
df_val = pd.read_csv("validation.csv",delimiter = ";",decimal=",")

In [3]:
df = pd.concat([df,df_val]).reset_index()

df.drop("index",axis=1,inplace=True)

In [4]:
for col in df.columns:
    print(col,":",df[col].dtype)

variable1 : object
variable2 : float64
variable3 : float64
variable4 : object
variable5 : object
variable6 : object
variable7 : object
variable8 : float64
variable9 : object
variable10 : object
variable11 : int64
variable12 : object
variable13 : object
variable14 : float64
variable15 : int64
variable17 : float64
variable18 : object
variable19 : int64
classLabel : object

In [5]:
categorical_cols = [col for col in df.columns if df[col].dtype == "object"]

for col in categorical_cols:
    print(col,":",df[col].unique())

variable1 : ['a' 'b' nan]
variable4 : ['u' 'y' nan 'l']
variable5 : ['g' 'p' nan 'gg']
variable6 : ['c' 'k' 'ff' 'i' 'j' 'q' 'W' 'd' 'm' 'cc' 'aa' 'r' 'x' 'e' nan]
variable7 : ['v' 'ff' 'o' 'h' 'j' 'bb' 'n' 'z' nan 'dd']
variable9 : ['f' 't']
variable10 : ['t' 'f']
variable12 : ['t' 'f']
variable13 : ['g' 's' 'p']
variable18 : ['t' nan 'f']
classLabel : ['no.' 'yes.']

In [6]:
df.isna().sum()

variable1       42
variable2       42
variable3        0
variable4       66
variable5       66
variable6       69
variable7       69
variable8        0
variable9        0
variable10       0
variable11       0
variable12       0
variable13       0
variable14     103
variable15       0
variable17     103
variable18    2256
variable19       0
classLabel       0
dtype: int64

In [7]:
for col in df.columns:
    res = np.round((df[col].isna().values.sum() / len(df)) * 100,2)
    print("percentage of NANs in",col,":",str(res)+"%")

percentage of NANs in variable1 : 1.08%
percentage of NANs in variable2 : 1.08%
percentage of NANs in variable3 : 0.0%
percentage of NANs in variable4 : 1.69%
percentage of NANs in variable5 : 1.69%
percentage of NANs in variable6 : 1.77%
percentage of NANs in variable7 : 1.77%
percentage of NANs in variable8 : 0.0%
percentage of NANs in variable9 : 0.0%
percentage of NANs in variable10 : 0.0%
percentage of NANs in variable11 : 0.0%
percentage of NANs in variable12 : 0.0%
percentage of NANs in variable13 : 0.0%
percentage of NANs in variable14 : 2.64%
percentage of NANs in variable15 : 0.0%
percentage of NANs in variable17 : 2.64%
percentage of NANs in variable18 : 57.85%
percentage of NANs in variable19 : 0.0%
percentage of NANs in classLabel : 0.0%

In [8]:
df.classLabel.value_counts()

yes.    3517
no.      383
Name: classLabel, dtype: int64

In [9]:
for col in categorical_cols:
    print("\n"+col,":")
    print(df[col].value_counts())

variable1 :
b    2523
a    1335
Name: variable1, dtype: int64

variable4 :
u    3204
y     598
l      32
Name: variable4, dtype: int64

variable5 :
g     3204
p      598
gg      32
Name: variable5, dtype: int64

variable6 :
c     827
q     633
W     379
cc    356
x     353
aa    234
i     209
m     188
k     186
e     145
ff    143
d     105
j      40
r      33
Name: variable6, dtype: int64

variable7 :
v     2139
h     1008
bb     359
ff     162
z       53
j       38
n       34
dd      21
o       17
Name: variable7, dtype: int64

variable9 :
t    3286
f     614
Name: variable9, dtype: int64

variable10 :
t    2335
f    1565
Name: variable10, dtype: int64

variable12 :
f    2024
t    1876
Name: variable12, dtype: int64

variable13 :
g    3610
s     207
p      83
Name: variable13, dtype: int64

variable18 :
t    1064
f     580
Name: variable18, dtype: int64

classLabel :
yes.    3517
no.      383
Name: classLabel, dtype: int64